html {
    font-size: 62.5%;
}



.search-input:focus {
    border-bottom: 0.1rem solid white !important;
  box-shadow: 0 0.1rem 0 0 white !important;
}


.material-icons:hover {
    cursor: pointer;
}
.col{
    margin-top: 0rem;
}
.card{
    margin-top: 4rem;
    width: 100rem;
    height: 25rem;
    margin-left: 15rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.heading{
    font-size: 3.5rem;
    text-align: center;
    color: tomato;
}

.likebtn{
    font-size: 2rem;
   margin-right: 1rem;
    
}

.dislikebtn{
    font-size: 2rem;
   margin-right: 1rem;
}

.viewpost{
    font-size: 2rem;
}

.heading1{
    font-size: 3.5rem;
    text-align: center;
    color: tomato;
    margin-bottom: 2rem;
}

.createbtn{
    font-size: 1.5rem;
    margin-left: 18rem;
}



  